## Take raw PhyloFlash "extractedSSUclassifications" output and count species-level taxonomic assignments

In [1]:
import pandas as pd
import os as os
import glob as glob
import numpy as np

In [2]:
os.chdir("/Users/nastassia.patin/Desktop/Projects/Lasker 2019/Metagenomes/phyloflash/extractedSSUclassifications")

### First extract only the taxon names ('name') and 'new_est_reads' columns from the Bracken raw output

In [6]:
pf = pd.read_csv("1903c111_10m-1_bmtag.phyloFlash.extractedSSUclassifications.csv")
pf.head()

,OTU,read_cov,coverage,dbHit,taxonomy,%id,alnlen,evalue
0,1903c111_10m-1_bmtag.PFspades_17,2178,23.178445,KX937758.1.1465,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,98.4,1140,-1
1,1903c111_10m-1_bmtag.PFspades_5,1755,18.042310,JN117275.38402.39884,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,99.7,1466,-1
2,1903c111_10m-1_bmtag.PFspades_2,1441,12.683901,HQ242572.1.1447,Bacteria;Proteobacteria;Alphaproteobacteria;SA...,99.5,1445,-1
3,1903c111_10m-1_bmtag.PFspades_1,941,10.989726,AATR01000002.62184.63630,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,100.0,1447,-1
4,1903c111_10m-1_bmtag.PFspades_11,666,6.731928,M87329.22.1773,Eukaryota;SAR;Stramenopiles;Ochrophyta;Diatome...,99.6,1134,-1

### Filter out eukaryotic assignments

In [18]:
pf = pf[pf['taxonomy'].str.contains('Eukaryota')==False]
pf.head()

,OTU,read_cov,coverage,dbHit,taxonomy,%id,alnlen,evalue
0,1903c111_10m-1_bmtag.PFspades_17,2178,23.178445,KX937758.1.1465,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,98.4,1140,-1
1,1903c111_10m-1_bmtag.PFspades_5,1755,18.042310,JN117275.38402.39884,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,99.7,1466,-1
2,1903c111_10m-1_bmtag.PFspades_2,1441,12.683901,HQ242572.1.1447,Bacteria;Proteobacteria;Alphaproteobacteria;SA...,99.5,1445,-1
3,1903c111_10m-1_bmtag.PFspades_1,941,10.989726,AATR01000002.62184.63630,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,100.0,1447,-1
6,1903c111_10m-1_bmtag.PFspades_12,591,7.718224,EF016477.1.1492,Bacteria;Bacteroidota;Bacteroidia;Flavobacteri...,99.2,1288,-1

In [20]:
taxa = pf[['taxonomy']].copy()
taxa[['Domain','Phylum','Class','Order','Family','Genus','Species']] = taxa['taxonomy'].str.split(";", n=7, 
                                                                                                expand=True)
taxa.head()

,taxonomy,Domain,Phylum,Class,Order,Family,Genus,Species
0,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,Bacteria,Cyanobacteria,Cyanobacteriia,Chloroplast,uncultured marine eukaryote,None,None
1,Bacteria;Cyanobacteria;Cyanobacteriia;Chloropl...,Bacteria,Cyanobacteria,Cyanobacteriia,Chloroplast,Phaeocystis antarctica,None,None
2,Bacteria;Proteobacteria;Alphaproteobacteria;SA...,Bacteria,Proteobacteria,Alphaproteobacteria,SAR11 clade,Clade I,Clade Ia,uncultured Pelagibacterales bacterium
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodobacterales,Rhodobacteraceae,Amylibacter,Rhodobacterales bacterium HTCC2255
6,Bacteria;Bacteroidota;Bacteroidia;Flavobacteri...,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,Flavobacteriaceae,Polaribacter,uncultured Bacteroidetes bacterium

In [22]:
for blast in glob.glob("*.csv"):
    a, b, c, d = blast.split('.')
    print(a, b, c, d)

1903c124_15m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c118_23m-2_bmtag phyloFlash extractedSSUclassifications csv
Las19c135_5m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c119_11m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c122_28m-1_NOAA1163b_S143_L003_bmtag phyloFlash extractedSSUclassifications csv
Las19c107_10m-1_NOAA1163b_S153_L003_bmtag phyloFlash extractedSSUclassifications csv
1903c129_26m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c144_13m-2_NOAA1163b_S163_L003_bmtag phyloFlash extractedSSUclassifications csv
1903c111_10m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c117_50m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c123_10m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c126_45m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c127_7m-2_NOAA1163b_S146_L003_bmtag phyloFlash extractedSSUclassifications csv
1903c124_15m-1_bmtag phyloFlash extractedSSUclassifications csv
Las19c135_5m-2_NOAA1163b_S159_L003_bmtag phyloFlash extractedSSUclassifications csv
1903c127_7m-1_NOAA1163b_S145_L003_bmtag phyloFlash extractedSSUclassifications csv
1903c129_26m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c123_10m-2_bmtag phyloFlash extractedSSUclassifications csv
Las19c107_10m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c126_45m-1_bmtag phyloFlash extractedSSUclassifications csv
1903c111_10m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c122_28m-2_bmtag phyloFlash extractedSSUclassifications csv
1903c117_50m-2_bmtag phyloFlash extractedSSUclassifications csv

In [25]:
for pf in glob.glob("*.csv"):
    a, b, c, d = pf.split('.')
    pf = pd.read_csv(pf)
    pf = pf[pf['taxonomy'].str.contains('Eukaryota')==False]
    taxa = pf[['taxonomy']].copy()
    taxa[['Domain','Phylum','Class','Order','Family','Genus','Species']] = taxa['taxonomy'].str.split(";", n=7, expand=True)
    taxa.to_csv('%s-species.tsv' % a, index=None, sep='\t')